body{
    background-image: url('Fundo.png');
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: brown;
}
div{
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px !important;
}