/* BASE */

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

main {
    width: 100vw;
}


/* NAVBAR */

.navbar {
    position: initial;
    height: 100vh;
    width: 14rem;
    background-color:#89e5b7;
    box-shadow: 1px 0px 10px #155434;
}

.navbar-container {
    position: fixed;
}

.navbar-links {
    margin: auto;
    display: flex;
    width: 8rem;
    height: 20rem;
    justify-content: space-around;
    flex-direction: column;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #155434;
    cursor: pointer;
}

.navbar-links a:hover {
    color: #0a8346;
    text-decoration: underline solid #0a8346;
    transition: 0.5s linear;
}

.navbar-img {
    width: fit-content;
    margin: .7rem auto;
}

.navbar-img img {
    width: 10rem;
}

/* INÍCIO PERFIL  */

.perfil {
    background-color: #89e5b7d8;
    border-radius: 5px;
    display: flex;
    margin-top: 4rem;
    width: 40rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
    padding: 2rem;
}

.perfil-content {
    width: 30rem;
}

.perfil-dados {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil-foto {
    width: 5rem;
}

.perfil-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INÍCIO FAQ */

.faq {
    width: 46rem;
    margin: auto;
}

.faq-pergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89e5b7;
    margin-top: 1rem;
    padding: .5rem 1rem;
}

.faq-resposta {
    background-color: #89e5b7;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

/* BUSCA */

.buscar {
    width: 46rem;
    margin: 3rem auto;
}

.buscar-planta {
    width: 46rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
}

/* TABELAS */

.tabelas {
    display: flex;
    flex-wrap: wrap;
}

table {
    width: 30rem;
    height: 30rem;
    font-size: 1.1rem;
    margin: 3rem auto;
    border-collapse: collapse;
}

thead, tbody, tr, td, th {
    border: 1px solid grey;
    padding: .5rem;
}

tr {
    font-weight: bold;
}

thead {
    background-color: lightsalmon;
    font-size: 1.5rem;
}

/* SCROLL */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }